@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  margin:0;
  padding:0;
}

/*start header*/
.header{
    background: linear-gradient(to top, #424242, #151515);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #fff;
}
.wrapper{
    display: flex;
    justify-content: center;
    width: 934px;

}

.logo{
    display: flex;
    margin: 40px 40px 40px 30px;
    align-content: center;
}
.nav{
    display: flex;
    align-items: flex-end;


}
.menu{
    display:flex;
    justify-content: space-around;
    list-style: none;

}

.menu__item{
    display: block;
    position: relative;
    width: 131px;
    margin:0 0.3px;
    padding: 5px 0;
    text-align: center;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(to top, #111111, #262626);
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height:18px;

}
.menu__item:last-of-type > .under-menu {
    left:auto;
    right:0;
}

.menu__item--hover:hover .under-menu{
    visibility:visible;
}

.under-menu__item--hover:hover {
    font-family: Tahoma;
    font-size: 12px;
    text-transform: uppercase;
    background: #4e4e4e;

}
.menu__item--hover:hover{
    background: linear-gradient(to top, #e77e00, #f6a60c);
    font-style: italic;
    font-size: 13px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}

.under-menu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    width: 128%;
    padding: 6px 0 0;
    text-align: left;
    background: linear-gradient(to right, #e77f01, #f6a70d);
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
    text-transform: none;
    color: #fff;

}
.under-menu__item{
    line-height: 25px;
    margin-bottom: 6px;
    padding-left: 7px;

}
/*end header*/

/*start section-1*/
.section-1{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #cad2d7;
}

.wrapper-section-1{
    display: flex;
    justify-content: flex-end;
    height: 363px;
    width: 934px;
    border: 1px solid #acb3b7;
    background: #ffffff;
    background-image: url(../img/girl.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

.slogan{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 432px;
    padding-right: 35px;
    font-size: 25px;
    font-family: sans-serif;
    color:#6b6b6b;


}
.slogan__p-1{
    display: flex;
    justify-content: flex-end;

}
.slogan__p-2{
    display: flex;
    justify-content: flex-end;
    margin: 0 -5px;
}
.slogan__span{
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
    color: #ec8c04;
    margin: 0 5px;
}
.btn{
    align-self: flex-end;
    width: 99px;
    height: 35px;
    border-style: none;
    border-radius: 3px;
    background:linear-gradient(to top, #e77e00 ,#f6a60c);
    text-transform: uppercase;
    text-shadow: 1px 1px #a55d08;
    color: #ffffff;

}
/*end section-1*/

/*start section-2*/
.section-2{
    border-top: 1px solid #fff;
    background: linear-gradient(to top, #fefefe, #e6eaec);

}
.wrapper-section-2{
    margin: 0 auto;

}

.column{
    display: flex;
    justify-content: space-around;

}
.shape{
    margin: 12px 0 20px;
    border: 1px solid #c3c6c8;
    border-radius: 5px;
    background: linear-gradient(to top, #f3f3f3 0%,#fdfdfd 75%, #fff 100%);
    width: 32.77%;

}

.shape__wriper{
    width: 83.34%;
    margin: 0 auto;
    position: relative;
}


.shape__title{
    font-family: 'Open Sans', sans-serif;
    color: #353535;
    border-bottom: 1px dotted #9b9a99;
    padding: 20px 0 14px 60px;
}

.shape__title_logo-1:before{
    position: absolute;
    left: 3px;
    top: -2px;
    display: block;
    content: "";
    background-image: url("../img/about-img-1.png");
    background-repeat: no-repeat;
    width: 49px;
    height: 58px;

}
.shape__title_logo-2:before{
    position: absolute;
    left: 3px;
    top: -2px;
    display: block;
    content: "";
    background-image: url("../img/about-img-2.png");
    background-repeat: no-repeat;
    width: 49px;
    height: 58px;

}
.shape__title_logo-3:before{
    position: absolute;
    left: 3px;
    top: 1px;
    display: block;
    content: "";
    background-image: url("../img/about-img-3.png");
    background-repeat: no-repeat;
    width: 49px;
    height: 58px;

}


.shape__image-1,
.shape__image-2,
.shape__image-3{
    width: 100%;
    height: 124px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 1px;
    background: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 20px;

}
.shape__image-1{
    background-image: url("../img/shape-image-1.jpg");
}
.shape__image-2{
    background-image: url("../img/shape-image-2.jpg");
}
.shape__image-3{
    background-image: url("../img/shape-image-3.jpg");
}
.shape__text{
    font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #808080;
    margin-top: 20px;
}
.shape__href-wripper {
    margin-top: 13px;
    margin-left: 20px;
}
.shape__href{
    display: flex;
    flex-direction: column;
    font-family: Arial,sans-serif;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color:  #ec8c04;
    text-decoration: underline;

}
.shape__href:before{
    content: "";
    position: relative;
    top: 11px;
    right: 12px;
    display: inline;
    width: 5px;
    height: 5px;
    background: url("../img/arrow.png") no-repeat;

}
.shape__btn{
    display: flex;
    align-self: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-shadow: 1px 1px #030303;
    color: #fff;
    background: linear-gradient(to top, #131313, #494949);
    border: none;
    border-radius: 4px;
    margin: 28px 0 17px 0;
    padding: 15px 14px 14px 12px;

}
/*end section-2*/

/*start section-3*/
.section-3{
    background: linear-gradient(to top,#3e3e3e, #272727);

}
.wrapper-section-3{
    margin: 0 auto;
}
.about-conteiner{
    display: flex;
    justify-content: space-between;
}
.about-left{
    width: 60%;
}
.about-right{
    width: 30%;
}
.about-h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin: 35px 0 22px 0;
}
.about-left__image{
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    float: left;
    margin: 0 20px 24px 0 ;
}
.about-left__text-1{
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    color: #c17821;
    margin-bottom: 19px;
}

.about-left__text-2{
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #989999;
    margin-bottom: 19px;

}
.about-left__text-2_color{
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #d1d1d1;
}
.about-right__menu-item{
    list-style: none;
    font-size: 14px;
    line-height: 15px;
    padding: 10px 0;
    color: #989999;
    border-bottom: 1px dotted #646b6d;
}

/*end section-3*/